<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Login</title>

</head>
<body>

  <!---- change form method? action? ---->
<form class="myForm" method="get" enctype="application/x-www-form-urlencoded" action="/html/codes/html_form_handler.cfm">

<p>
<label>Username
<input type="email" name="user_email" required>
</label>

<label>Password
<input type="password" name="user_pwd" required>
</label>

<button>Log In</button>
</p>

</form>

</body>
</html>
