// See: https://sass-lang.com/

body {
  background-color: #ffe3fe;

  h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #244751;
    margin-left: 25px;
  }
}


//navbar styling
.navbar-custom {
  background-color: #440A67;
  height: 120px;
  width: 100%;
  // position: fixed;
}

.navbar-brand {
  color: whitesmoke;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  font-weight: 700;
  margin-left: 10px;
}

.nav-item {
  color: #b4aee8;
  font-family: 'Londrina Solid', cursive;
  font-weight: 300;
  font-size: 20px;
}


// login page styling
.myForm {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.8em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
  }

  .myForm * {
  box-sizing: border-box;
  }

  .myForm label {
  padding: 0;
  font-weight: bold;
  }

  .myForm input {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.9em;
  padding: 0.5em;
  }

  .myForm input[type="email"],
  .myForm input[type="password"] {
  width: 12em;
  }

  .myForm button {
  padding: 0.7em;
  border-radius: 0.5em;
  background: #eee;
  border: none;
  font-weight: bold;
  }

  .myForm button:hover {
  background: #ccc;
  cursor: pointer;
  }


  //create resource styling
.create-resource-header {
  font-size: 40px;
  font-family: 'Londrina Solid', cursive;
  color: #b4aee8;
  -webkit-text-stroke: 0.75px #440a67;
  margin-left: 190px;
}
.create-resource-form {
  font-family: 'Londrina Solid', cursive;
  font-size: 1em;
  width: 30em;
  padding: 1em;
  }

.create-resource-form * {
  box-sizing: border-box;
}

.create-resource-form label {
  padding: 0;
  font-weight: bold;
  text-align: right;
  display: block;
}

.create-resource-form input,
.create-resource-form select,
.create-resource-form textarea {
  margin-left: 2em;
  float: right;
  width: 20em;
  border: 1px solid #ccc;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.9em;
  padding: 0.3em;
}

.create-resource-form textarea {
  height: 100px;
}

.create-resource-form button {
  padding: 1em;
  border-radius: 0.5em;
  background: #eee;
  border: none;
  font-weight: bold;
  margin-left: 14em;
  margin-top: 1.8em;
}


// homepage resource styling
.resource-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #93329e solid 5px;
  padding-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.resource-boxes:hover {
  box-shadow: 8px 8px #b4aee8;
}

.display-rating-icons{
  display: flex;
}


//myresources styling
.my-resource-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #93329e solid 5px;
  padding-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.my-resource-boxes:hover {
  box-shadow: 8px 8px #b4aee8;
}

.like-color {
  background-color:#7539AB;
}


//comments page styling
.comment-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Londrina Solid', cursive;
  font-size: 20px;
  border: #93329e solid 3px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  box-shadow: 8px 8px #b4aee8;
}
.resources-comments {
  font-size: 40px;
  font-family: 'Londrina Solid', cursive;
  color: #b4aee8;
  -webkit-text-stroke: 0.75px #440a67;
  margin-left: 25px;
}
.comments-page-submit-comment {
  display: grid;
  justify-content: center;
  font-family: 'Londrina Solid', cursive;
}

