// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #244751;
    margin-left: 25px;
  }
}

.navbar-custom {
  background-color: #7539AB;
  height: 75px;
}

.navbar-brand {
  color: #eed7f5;
  font-family: 'Dela Gothic One', sans-serif;
}

.nav-item {
  color: #cfc9d1;
}

.myForm {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.8em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
  }


  // login page styling
  .myForm * {
  box-sizing: border-box;
  }

  .myForm label {
  padding: 0;
  font-weight: bold;
  }

  .myForm input {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.9em;
  padding: 0.5em;
  }

  .myForm input[type="email"],
  .myForm input[type="password"] {
  width: 12em;
  }

  .myForm button {
  padding: 0.7em;
  border-radius: 0.5em;
  background: #eee;
  border: none;
  font-weight: bold;
  }

  .myForm button:hover {
  background: #ccc;
  cursor: pointer;
  }


  //create resource styling
.create-resource-form {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.8em;
  width: 30em;
  padding: 1em;
  }

.create-resource-form * {
  box-sizing: border-box;
}

.create-resource-form label {
  padding: 0;
  font-weight: bold;
  text-align: right;
  display: block;
}

.create-resource-form input,
.create-resource-form select,
.create-resource-form textarea {
  margin-left: 2em;
  float: right;
  width: 20em;
  border: 1px solid #ccc;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.9em;
  padding: 0.3em;
}

.create-resource-form textarea {
  height: 100px;
}

.create-resource-form button {
  padding: 1em;
  border-radius: 0.5em;
  background: #eee;
  border: none;
  font-weight: bold;
  margin-left: 14em;
  margin-top: 1.8em;
}


// homepage resource styling
.resource-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: darkgrey solid 5px;
  padding-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.resource-boxes:hover {
  box-shadow: 8px 8px #7539AB;
}


//myresources styling
.my-resource-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: darkgrey solid 5px;
  padding-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.my-resource-boxes:hover {
  box-shadow: 8px 8px #7539AB;
}

.like-color {
  background-color:#7539AB;
}
